@import url('https://fonts.googleapis.com/css2?family=Recursive:wght,MONO@300..1000,1&display=swap');

body {
    font-family: "sono", monospace;
    font-family: "Recursive", monospace;

    margin: 0;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    
}

h1,
h2,
h3,
h4,
p {
    font-weight: 400;
    margin: 0;
}


a {
    color: black;
}

input,
button,
textarea {
    font-family: "sono", monospace;
    font-family: "Recursive", monospace;


}

@font-face {
    font-family: "sono";
    src: url("./fonts/sono.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

::selection {
    background: yellow;
}