body {
    font-family: sans-serif;
    margin: 0;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
p {
    font-weight: 400;
    margin: 0;
}


a {
    color: black;
}

input,
button,
textarea {
    font-family: sans-serif;

}

/* @font-face {
    font-family: "Fk Raster";
    src: url("./fonts/FKRasterRomanCompactTrial-Smooth.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
} */

::selection {
    background: yellow;
}