body {
    font-family: "sono", monospace;
    margin: 0;
    font-size: 14px;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
p {
    font-weight: 400;
    margin: 0;
}


a {
    color: black;
}

input,
button,
textarea {
    font-family: "sono", monospace;

}

@font-face {
    font-family: "sono";
    src: url("./fonts/sono_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

::selection {
    background: yellow;
}